/*
 * Pfarrplaner
 *
 * @package Pfarrplaner
 * @author Christoph Fischer <chris@toph.de>
 * @copyright (c) Christoph Fischer, https://christoph-fischer.de
 * @license https://www.gnu.org/licenses/gpl-3.0.txt GPL 3.0 or later
 * @link https://codeberg.org/pfarrplaner/pfarrplaner
 * @version git: $Id$
 *
 * Sponsored by: Evangelischer Kirchenbezirk Balingen, https://www.kirchenbezirk-balingen.de
 *
 * Pfarrplaner is based on the Laravel framework (https://laravel.com).
 * This file may contain code created by Laravel's scaffolding functions.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('/fonts/nunito-v25-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-300 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('/fonts/nunito-v25-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-600 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('/fonts/nunito-v25-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('/fonts/nunito-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-800 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('/fonts/nunito-v25-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-500 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('/fonts/nunito-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-900 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('/fonts/nunito-v25-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/nunito-v25-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* source-sans-pro-300 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/source-sans-pro-v21-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/source-sans-pro-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/source-sans-pro-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/source-sans-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-v21-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/source-sans-pro-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/source-sans-pro-v21-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/source-sans-pro-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/source-sans-pro-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-v21-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/source-sans-pro-v21-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/source-sans-pro-v21-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/source-sans-pro-v21-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/source-sans-pro-v21-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/open-sans-v34-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/open-sans-v34-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/open-sans-v34-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-500italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/open-sans-v34-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/open-sans-v34-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/open-sans-v34-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/open-sans-v34-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-300italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/montserrat-v25-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/montserrat-v25-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/montserrat-v25-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/montserrat-v25-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/montserrat-v25-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/montserrat-v25-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/montserrat-v25-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/montserrat-v25-latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-100.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/roboto-v30-latin-100italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-100italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/roboto-v30-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/roboto-v30-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/roboto-v30-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/roboto-v30-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/roboto-v30-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/roboto-v30-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/roboto-v30-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/roboto-v30-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/roboto-v30-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
